.container {
    margin: auto;
    padding: 0 15px;
    text-align: center;
}

.container strong {
    font-size: 20px;
    line-height: 26px;
}

.container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

.container a {
    text-decoration: none;
    color: black;
}

.container-news {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 3px solid red;
}

.container-news-title {
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.container-news-content {
    font-size: 12px;
    text-align: left;
}

.mb40px {
    margin-bottom: 40px;
}

.mt40px {
    margin-top: 40px;
}
